*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.SSS p{
font-size: 20px;
}

.SSS img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.div p{
    font-size: 20px;
}

.div img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.d{
    font-size: 14px;
    margin-top: 40px;
}